* {
    margin: 0;
    padding: 0;
    line-height: 100%;
    font-size: 100%;
    border-radius: 0;
}


body{
    
    height: 100vh;
    overflow: hidden;
    text-align: center;
}

header{
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    
}

h1{
    font-family: 'Ranchers', cursive;
    color: #444444;
    font-size: 120px;
    padding-top: 50px;
}

h2{
    font-family: 'Gudea', sans-serif;    color: #444444;
    font-size: 30px;
    padding-top: 10px;
}

main{
    
    max-height: 70vh;
    width:100%
        
        
}

h3{
    font-family: 'Vidaloka', serif;
    color: #444444;
    font-size: 35px;
    padding-top: 20px;
}

p{
    font-family: 'Gudea', sans-serif;
    color: #444444;
    font-size: 25px;
    padding-top: 20px;
    text-align: left;
    padding-left: 40px;
}

.flex{ 
    display: flex;
    

}


.flex_item{
    
    width: calc(100%/5);
    height: 70vh;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.img{
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
}

.one{
   
    background-size: cover;
    background-color: #bee3e2;
    background-repeat: no-repeat;
    background-position: center center;
    
}

.two{
  
    background-size: cover;
    background-color: #e7aaca;   
    background-repeat: no-repeat;
    background-position: center center;
    
}


.three{
    
    background-size: cover;
    background-color: #f4a050;
    background-repeat: no-repeat;
    background-position: center center;
    
}

.four{
  
    background-size: cover;
    background-color: #b6ddb3;
    background-repeat: no-repeat;
    background-position: center center;
    
}

.five{
   
    background-size: cover;
    background-color: #a373ae;
    background-repeat: no-repeat;
    background-position: center center;
    
}



.helium_flex{ 
    display: flex;
    

}


.helium_flex_item{
    
    width: calc(100%/2);
    height: 70vh;
    background-color: #bee3e2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


.six{
    
    background-image: url('../img/helium_full.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.seven{
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
}








.aluminium_flex{ 
    display: flex;
    

}


.aluminium_flex_item{
    
    width: calc(100%/2);
    height: 70vh;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


.eight{
    
    background-image: url('../img/aluminium_full.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.nine{
    background-color: #b6ddb3;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
}









.calcium_flex{ 
    display: flex;
    

}


.calcium_flex_item{
    
    width: calc(100%/2);
    height: 70vh;
    background-color: #e7aaca;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


.ten{
    
    background-image: url('../img/calcium_full.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.eleven{
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
}








.carbon_flex{ 
    display: flex;
    

}


.carbon_flex_item{
    
    width: calc(100%/2);
    height: 70vh;
    background-color: #a373ae;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


.twelve{
    
    background-image: url('../img/carbon_full.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.thirteen{
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
}

.iron_flex{ 
    display: flex;
    

}


.iron_flex_item{
    
    width: calc(100%/2);
    height: 70vh;
    background-color: #f4a050;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


.fourteen{
    
    background-image: url('../img/iron_full.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.fifteen{
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
}

#arrows{
    padding-top: 10px;
    padding-bottom: 50px;
    display: inline-block;
    
}

#right_arrow{
    padding-left: 90px;
}

#left_arrow{
    padding-right: 90px;
}






